@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;900&display=swap');

:root{
    --font-primary: Roboto;
    --color-primary: #fff;
    --color-secondary: rgba(122, 120, 120, 0.308);
    --color-green: rgba(11, 169, 193, 0.65);
    --color-dark: rgba(0, 0, 0, 0.65);
    --color-background: rgb(36, 35, 35);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-primary);
}


#header{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0 1em;
    font-size: 1.3rem;
    color: var(--color-primary);
}

#header .top-header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 2rem;
}

#header .top-header .logo{
    align-self: center;
    font-weight: 900;
    cursor: pointer;
}

#header nav{
    float: right;
    text-align: end;
    padding-bottom: 10px;
    transition: 300ms;
}

.slide{
    transform: translateX(120%);
}

#header nav ul li{
    margin-top: 0.6em;
    list-style: none;
}

#header nav ul li a{
    padding: 0.2em 0.4em;
    background-color: var(--color-dark);
    cursor: pointer;
}

#header nav ul li a:hover{
    background-color: var(--color-green);
}



/* CONTENIDO */

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 100vh;
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: 5px;
    text-align: center;
    background-color: var(--color-background);
    color: var(--color-primary);
}

.main-container div{
    max-width: 90%;
}

.main-container h4{
    font-size: 1rem;
    font-weight: 300;
    color: gray;
}

.main-container h2{
    font-size: 6vmax;
}

.main-container span{
    color: var(--color-primary);
}

.main-container button{
    margin-top: 15px;
    padding: 1em 1.5em;
    font-size: 1rem;
    font-weight: 100;
    background-color: var(--color-green);
    border: none;
    border-radius: 2px; 
    cursor: pointer;
}

.main-container button a{
    text-decoration: none;
    color: var(--color-primary);
}

.main-container button:hover{
    background-color: var(--color-dark);
}






/* FOOTER */

#footer{
    position: fixed;
    bottom: 0;
    margin-left: 1em;
    margin-bottom: 1em;
    font-size: 1.3rem;
}

#footer .social-media{
    display: flex;
    list-style: none;
}

#footer .social-media li{
    padding: 0.2em 0.3em 0.1em;
    margin: 0.2em;
    background-color: var(--color-dark);
    cursor: pointer;
    transition: background-color 200ms;
}

#footer .social-media li:hover:nth-child(1){
    background-color: var(--color-secondary);
}

#footer .social-media li:hover:nth-child(2){
    background-color: var(--color-green);
}

#footer .social-media li i{
    color: var(--color-primary);
}