@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;900&display=swap');

:root{
    --font-primary: Roboto;
    --color-primary: #fff;
    --color-secondary: rgba(122, 120, 120, 0.308);
    --color-green: rgba(11, 169, 193, 0.65);
    --color-dark: rgba(0, 0, 0, 0.65);
    --color-background: rgb(36, 35, 35);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-primary);
}

html{
    width:100%;
    height:100%;
    max-height: 100vh; 
}

body{
    width:100%;
    height:100%;
    max-height: 100vh;
}

h1,h2,h3,h4{
    letter-spacing: 5px;
}

h4{
    font-size: 1rem;
    font-weight: 300;
    color: #ccc;
}

h2{
    font-size: 6vmax;
}

h3{
    font-size: 4vmax;
}

.preloader-contain{
    position: absolute;
    background-color: black;
    color: #fff;
    width: 100%;
    height: 100%;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    visibility: visible;
    opacity: 1;
    transition: all 200ms;
    z-index: 9999;
}

.preloader-contain p{
    letter-spacing: 1px;
}
.close{
    visibility: hidden;
    opacity: 0;
}

.preloader{
    position: relative;
    width: 200px;
    background-color: #333;
    height: 6px;
}

.preloader::before{
    content: '';
    position: absolute;
    background-color: rgba(11, 169, 193);
    width: 100%;
    height: 6px;
    animation: preloader 2s 1;
}

@keyframes preloader{

    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}

/*MODAL*/

.modal-contain{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.63);
    visibility: hidden;
    opacity: 0;
    transition: all 500ms;
    z-index: 2;
}

.visible{
    visibility: visible;
    opacity: 1; 
}

.modal-contain button{
    position: absolute;
    top: 0;
    right: 0;
    margin: 1.2em;
    padding: 0.1em 0.7em;
    font-size: 1.5em;
    border: none;
    color: #fff;
    background-color: #000;
    cursor: pointer;
}

.modal{
    min-width: 200px;
    width: 400px;
    height: 70%;
    margin: 2em;
    background-image: url('../img/picture_portafolio.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.modal-contain button:hover{
    background-color: rgba(11, 169, 193);
}


/*MENU*/

#header{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1.4em 1.4em 0;
    font-size: 1.3rem;
    color: var(--color-primary);
    z-index: 1;
}
.hamburger, .hamburger--collapse{
    padding: 0 !important;
}

#header .top-header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 2rem;
}

#header .top-header .logo{
    align-self: center;
    font-weight: 900;
    cursor: pointer;
}

#header nav{
    position: absolute;
    right: 0;
    text-align: end;
    margin: 0.8em 1.6em 0 0;
    padding-bottom: 10px;
    font-size: 1.2rem;
    transition: 500ms;
}

.slide{
    transform: translateX(122%);
}

#header nav ul li{
    margin-top: 0.6em;
    list-style: none;
}

#header nav ul li a{
    padding: 3px 5px 3px 8px;
    text-decoration: none;
    letter-spacing: 2px;
    background-color: var(--color-dark);
    color: var(--color-primary);
    cursor: pointer;
}

#header nav ul li a:hover{
    background-color: var(--color-green);
}



/* CONTENIDO */

/*home*/

#home{
    position:absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: var(--color-background);
    color: var(--color-primary);
}

#home .text{
    max-width: 90%;
    margin-top: -15px;
}

#home span{
    color: var(--color-primary);
}

#home .profile{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    margin-bottom: 20px;
    border-radius: 100%;
    box-shadow: 0px 3px 10px #979394;
    background-image: url('../img/picture_portafolio.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -20px;
    cursor: pointer;
    transition: all 500ms;
}

#home .profile div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    font-size: 0.4em;
    background-color: var(--color-dark);
    border-radius: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 500ms;
}

#home .profile:hover div{
    visibility: visible;
    opacity: 1;
}

.icon-wrapper {
    position: relative;
    bottom: 38px;
    left: 28px;
    height: 17px;
    width: 17px;
    margin: 0 20px;
    background: rgba(11, 169, 193);
    box-shadow: 0 0 0px 0px rgba(255, 255, 255, 0.5);
    color: #333;
    border-radius: 50%;
    cursor: pointer;
    transition: 250ms color;
    animation-name: wave;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
  
@keyframes wave {
0% {box-shadow: 0 0 0px 0px rgba(255, 255, 255, 0.5);}
100% {box-shadow: 0 0 0px 15px rgba(255, 255, 255, 0);}
}

.icon-wrapper::after{
    position: absolute;
    left: 200%;
    width: 80px;
    height: 23px;
    padding: 5px 2px;
    font-size: 0.20em;
    letter-spacing: 1px;
    content: "I'm available for a job";
    border-radius: 10%;
    background-color: rgba(0, 0, 0, 0.301);
    color: #ccc;
    transform: translateX(50%);
    visibility: hidden;
    opacity: 0;
    transition: all 500ms;
}

.icon-wrapper:hover::after{
    transform: translateX(0%);
    visibility: visible;
    opacity: 1;
}

.btn-primary{
    margin-top: 15px;
    padding: 1em 1.5em;
    font-size: 1rem;
    font-weight: 300;
    background-color: var(--color-green);
    border: none;
    border-radius: 2px; 
    letter-spacing: 1px;
    cursor: pointer;
    text-decoration: none;
    color: var(--color-primary);
}

.btn-primary:hover{
    background-color: var(--color-dark);
}


#portafolio{
    background-color:black;
    color:var(--color-primary);
}

#portafolio .content-portafolio{
    position: absolute;
    top: 20%;
    left: 14%;
    display: flex;
    flex-direction: column;
    max-width: 50%;
    height: 66%;
    margin-right: 1em;
    text-transform: uppercase;
}

#portafolio .content-images{
    position: relative;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 30px;
}

#portafolio .content-images .img{
    position: relative;
    width: 32%;
    height: 130px;
    overflow: hidden;
}

#portafolio .content-images .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content-images .hover{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 8px;
    font-size: 0.25em;
    text-align: center;
    background-color: rgba(36, 35, 35, 0.970);
    overflow: hidden;
    transform: translateY(-100%);
    transition: transform 500ms;
}

.content-images .hover a{
    margin-top: 10px;
    padding: 5px;
    text-decoration: none;
    background-color: var(--color-green);
    border-radius: 10px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    transform: translateY(500%);
    opacity: 0;
    transition-property: transform, opacity;
    transition-duration: 1s;
}

.content-images .img:hover .hover a{
    opacity: 1;
    transform: translateY(0%);
}


.content-images .hover a:hover{
    background-color: var(--color-dark)
}

.content-images .img:hover .hover{
    transform: translateY(0%);
}





/*about-me*/
#about-me{
    background-image: url('../img/background-about-me.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color:white;
}

.content-about{
    position: absolute;
    top: 18%;
    left: 12%;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    max-height: 70%;
    padding: 20px 30px;
    margin-right: 1em;
    border-radius: 10px;
    background-color: var(--color-dark);
    overflow: hidden;
}

.content-about a{
    width: 130px;
    text-align: center;
    border-radius: 25px;
}

.content-about h4{
    margin-top: 10px;
    letter-spacing: 0px;
}

/*CONTACT*/
#contact{
    display: flex;
    align-items: flex-end;
    background-image: url('../img/pexels-klaudia-ekert-4724487.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color:white;
}

.content-contact{
    display: flex;
}

.center{
    flex-direction: column;
    justify-content: center;
    background: none;
    padding-bottom: 50px;
    margin: 0 auto;
    text-align: center;
    gap: 5px;
}

#contact a{
    margin: 10px auto;
    width: 130px;
    text-align: center;
    border-radius: 25px;
}


#contact ul{
    margin-top: 10px;
    list-style: none;
    font-size: 1rem;
}
#contact ul li{
    margin-bottom: 5px;
}


.efect{
    overflow:hidden;
    position:relative;
    font-size:3em;
    width:100%;
    height:0;
    transition: all 500ms ease-out;
}

.efect:target{
    max-height: 100vh;
    height:100vh;
}


/* FOOTER */

#footer{
    position: fixed;
    bottom: 0;
    padding-left: 1em;
    padding-bottom: 1em;
    font-size: 1.3rem;
}

#footer .social-media{
    display: flex;
    list-style: none;
}

#footer .social-media li{
    padding: 0.2em 0.3em 0.1em;
    margin: 0.2em;
    background-color: var(--color-dark);
    cursor: pointer;
    transition: background-color 500ms;
}

#footer .social-media li:hover:nth-child(1){
    background-color: var(--color-secondary);
}

#footer .social-media li:hover:nth-child(2){
    background-color: var(--color-green);
}

#footer .social-media li i{
    color: var(--color-primary);
}


@media (max-width: 795px){
    #portafolio .content-portafolio{
        max-width: 70%;
    }
    #portafolio .content-images .img{
        width: calc(100% / 2 - 7px);
        height: 90px;
    }
}

@media (max-width: 370px){
    .content-about{
        overflow: auto;
    }
}
@media (max-width: 630px){
    .content-images .hover{
        font-size: 0.17em;
    }
}
