@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container{
    width: 100%;
    height: 100vh;
    background-color: rgb(36, 35, 35);
}

#header{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1em;
    font-family: Roboto;
    font-size: 1.3rem;
    color: white;
}

#header .top-header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 2rem;
}

#header .top-header .logo{
    font-weight: 900;
    cursor: pointer;
    
}

#header .top-header a{
    cursor: pointer;
}

#header nav{
    text-align: end;
    float: right;
    margin-top: 15px;
    padding-bottom: 10px;
}

#header nav ul{
    list-style: none;
}

#header nav ul li{
    margin-top: 0.6em;
}

#header nav ul li a{
    cursor: pointer;
    padding: 0.2em 0.4em;
    background-color: rgba(0, 0, 0, 0.65);
}

#header nav ul li a:hover{
    background-color: rgba(11, 169, 193, 0.65);
}


.main-text{
    max-width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: 5px;
    text-align: center;
    color: white;
}

.main-text div{
    max-width: 90%;
}

.main-text h4{
    color: gray;
    font-size: 1rem;
    font-weight: 300;
}

.main-text h2{
    font-size: 6vmax;
}

.main-text span{
    color: white;
}

.main-text button{
    background-color: rgba(11, 169, 193, 0.65);
    margin-top: 15px;
    cursor: pointer;
    font-weight: 100;
    color: white;
    border-radius: 2px; 
    border: none;
    padding: 1em 1.5em;
    font-size: 1rem;
}

.main-text button:hover{
    background-color: black;
}

#footer{
    position: fixed;
    bottom: 0;
    margin-left: 1em;
    margin-bottom: 1em;
    font-size: 1.3rem;
}

#footer .social-media{
    list-style: none;
    display: flex;
}

#footer .social-media li{
    padding: 0.2em 0.3em 0.1em;
    margin: 0.2em;
    background-color: black;
    transition: background-color 200ms;
}

#footer .social-media li:hover:nth-child(1){
    background-color: rgba(122, 120, 120, 0.308);
}

#footer .social-media li:hover:nth-child(2){
    background-color: rgba(63, 71, 184, 0.87);
}

#footer .social-media li i{
    color: white;
}